<h1>@ViewBag.CheckoutCompleteMessage </h1>

<div class="text-center">
  
        <button onclick="window.location.href='/order/OrdersList'" class="btn btn-outline-primary" style="float: left;">Order List</button>
  
</div>