@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<img style="border:2px solid red;" src="~/images/protect.jpg" align="middle" width="500" height="300">