@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:red;">Welcome to TDL Security Services</h1>

    <p class="font-front">This is a .NET Core MVC Demo Application by TDL <a href="https://docs.microsoft.com/aspnet/core"> more on Web apps with ASP.NET Core</a>.</p>
</div>

<div class="table-responsive-lg">
    <table class='table table-hover'>
        <thead class="font-front">
            <tr>

                <th class="align-text-top">
                    Consistent, comprehensive security for all your applications
                    <p></p>
                    <ul>
                        <li>Application Security</li>
                        <li>API Security</li>
                        <li>Bot Management</li>
                        <li>EndPoint Security</li>
                        <li>AI Powered Analytics</li>
                    </ul>
                </th>

                <th class="align-self-lg-end">
                    <img src="~/images/thomas_duryea_logicalis_logo.png" align="middle" width="410" height="120">
                </th>
            </tr>
        </thead>
    </table>
</div>

<div class="table-responsive-lg">
    <table class='table table-hover'>
        <thead class="font-front">
            <tr>
                <th class="align-text-top">
                    <p style="color:red;">  Building layered protection </p>
                    <p> </p>
                    <ul style="color:red;">
                        <li>Security Assessment</li>
                        <li>Security Remediation Projects</li>
                        <li>Maintaining Security Posture</li>
                    </ul>
                   

                    <p class="font-front" style="color:mediumblue ; font-size:x-large; font-weight:lighter ">Protected by Citrix ADC WAF</p>
                    <img src="~/images/netscaler-mpx-500x250.png" align="middle" width="420" height="150">
                </th>
                <th>
                    <div class="container-fluid">
                        <div class="bd-example">
                            <div id="carouselExampleCaptions" class="carousel slide wow zoomIn" data-ride="carousel" data-interval="1000" style="width: 400px; height:400px;">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-interval="2000">
                                        <img src="~/images/tdlstock1.jpg" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            @*<h5>First slide label</h5>
                                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>*@
                                        </div>
                                    </div>
                                    <div class="carousel-item" data-interval="2000">
                                        <img src="~/images/tdlstock2.jpg" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            @*<h5>Second slide label</h5>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>*@
                                        </div>
                                    </div>
                                    <div class="carousel-item" data-interval="2000">
                                        <img src="~/images/tdlstock3.jpg" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            @*<h5>Third slide label</h5>
                                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>*@
                                        </div>
                                    </div>
                                    <div class="carousel-item" data-interval="3000">
                                        <img src="~/images/tdlstock4.jpg" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            @*<h5>Third slide label</h5>
                                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>*@
                                        </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </th>
    </table>
</div>